# Avoid sending unnecessary infra files into Docker contexts

# Git
.git/
.gitignore
README.md
LICENSE

# Editor configs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Docker volumes
volumes/
data/

# Grafana runtime data
grafana/data/
grafana/plugins/
grafana/logs/

# Ignore docker-compose override files
docker-compose.override.yml

# Node / frontend
node_modules
dist
build

# Rust
target

# Secrets
.env

# Keycloak exports temporaires
keycloak-export