name: infra CI

on:
  pull_request:
    branches: [develop]
  push:
    branches: [develop]

permissions:
  contents: read

jobs:
  lint-config:
    uses: Projet-technique-Altair/altair-ci/.github/workflows/infra-ci.yml@main
